[user]
	name = Luke Mauldin
	email = luke.mauldin@zaelot.com
[color]
    branch = auto
    diff = auto
    status = auto
    ui = auto
[push]
    default = simple
[pull]
     ff = true
	rebase = false
[merge]
    ff = true
	conflictStyle = diff3
[alias]
    br = branch
    cm = commit
    co = checkout
    cp = cherry-pick
    rf = rebase
    st = status
    plog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    ls = log --graph --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=human
    ll = log  --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    log = log -M
    filelog = log -u
    dl = "!git ll -1" # show files modified in last commit
    dlc = diff --cached HEAD^ # show a diff of clast commit
    #diff = diff -M --word-diff
    dc = diff --cached
    la = "!git config -l | grep alias | cut -c 7-" # list all aliases
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[init]
	defaultBranch = main
[safe]
    directory = *
[credential]
    helper = /usr/bin/gp credential-helper
